In [1]:
# Social Media Data Analysis Project
# Author: Ava

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

%matplotlib inline

In [3]:
categories = ['Food', 'Travel', 'Fashion', 'Fitness', 'Music', 'Culture', 'Family', 'Health']
n = 500

data = {
    'Date': pd.date_range(start='2021-01-01', periods=n),
    'Category': [random.choice(categories) for _ in range(n)],
    'Likes': np.random.randint(0, 10000, size=n)
}

In [4]:
df = pd.DataFrame(data)
df.head()

        Date Category  Likes
0 2021-01-01   Health   4127
1 2021-01-02   Travel   5848
2 2021-01-03   Health   5599
3 2021-01-04     Food   4928
4 2021-01-05    Music   1720

In [5]:
df.info()
df.describe()
df['Category'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      500 non-null    datetime64[ns]
 1   Category  500 non-null    object
 2   Likes     500 non-null    int32
dtypes: datetime64[ns](1), int32(1), object(1)
memory usage: 9.9+ KB

Category
Music      72
Family     72
Food       67
Travel     62
Culture    59
Fitness    58
Health     56
Fashion    54
Name: count, dtype: int64